# See .docs/oc-deployment.md for detailed deployment documentation
# See scripts/README.md for technical details
# Variables prefixed with "_" won't be available as environment variables to the application

# One of: local-auth, backend-only, oauth-proxy, backend-only-no-db, local-auth-custom-ui, oauth-proxy-custom-ui
_CEN_FLAVOR=local-auth

# Application Identity
_APP_NAME=my-app
PROJECT_NAME=my-openshift-project
ENVIRONMENT=production

# Admin User (local-auth, local-auth-custom-ui)
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis
SIGNUP_ACCESS_PASSWORD=changethis

# Security (local-auth, local-auth-custom-ui)
SECRET_KEY=changethis

# Database (all except backend-only-no-db)
# Note: For Code Engine Deployments you need to provision this yourselves in the POC Account
POSTGRES_SERVER=postgresql
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

BACKEND_CORS_ORIGINS=

# Custom Variables (Optional - will be available to the backend)
# CUSTOM_VAR=custom-value


################################################################
# OpenShift Deployment
################################################################

# Git Repository
_GIT_SSH_URL=git@github.com:username/repository.git
# OPTIONAL but recommended (check .docs/oc-deployment.md for details)
_GITHUB_TOKEN=
_GITHUB_HOST=github.ibm.com
# OPTIONAL (deploy a specific branch)
_DEPLOYMENT_BRANCH_FILTER=

################################################################
# Code Engine Deployment
################################################################

# VITE_API_URL=

# # Todo: Automatically name all applications in script and only set Project name
# # Todo: Input Validation for ce-project-name because CR namespace has to be less than 30 chars
# # Todo: Add information in docs about disabling location /api in nginx.conf
# # Todo: Add information in docs about "_" prefix for variables
# # Todo: Update ce_deployment docs in general and make it CE-deployment only

# _CE_PROJECT_NAME=<project-name>
# _CE_FRONTEND_APPLICATION_NAME=<project-name>-frontend
# _CE_BACKEND_ENV_SECRET_NAME=<project-name>-backend-config
# _CE_BACKEND_APPLICATION_NAME=<project-name>-backend
# _CR_REGISTRY_SECRET_NAME=<project-name>-registry-secret
# _CR_NAMESPACE=<project-name>-namespace


# _IAM_API_KEY=<your-api-key>
# _IBM_CLOUD_RESOURCE_GROUP=Default
# _IBM_CLOUD_REGION=eu-de
# _IBM_CLOUD_ACCOUNT_NAME="IBM PoC - Your POC Account"
# _CR_REGISTRY=de.icr.io
# _CE_FRONTEND_IMAGE_NAME=frontend
# _CE_BACKEND_IMAGE_NAME=backend
